body{
  font-family: Arial;
  margin:0;
  background:#f2f2f2;
}

header{
  background:#0f172a;
  color:#fff;
  padding:20px;
  text-align:center;
}

nav{
  background:#1e293b;
  text-align:center;
}

nav a{
  color:#fff;
  padding:12px;
  display:inline-block;
  text-decoration:none;
}

section{
  background:#fff;
  margin:20px;
  padding:20px;
  border-radius:5px;
}

input,select{
  width:100%;
  padding:10px;
  margin:6px 0;
}

.btn{
  background:green;
  color:#fff;
  padding:10px;
  border:none;
  width:100%;
}

footer{
  background:#0f172a;
  color:#fff;
  text-align:center;
  padding:10px;
}